/* login modal */
#login {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    width: 100%;
    background-color: #ffffff05;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    /* add shadow */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container {
    width: 100%;
    max-width: 400px;
    border-radius: 10rem;
}

#login-modal {
    border-radius: 5rem;
}

.card {
    background-color: #1e1e2f;
    color: white;
    border-radius: 1rem;
    padding: 2rem;
}

.card-body {
    text-align: center;
}

#login-title {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 1.5rem;
}

.form-outline {
    margin-bottom: 1rem;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
}

#login-btn {
    background-color: black;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 0.5vw;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
}

#login-btn:hover {
    scale: 1.025;
}

#close-btn {
    border-color: transparent;
    background-color: transparent;
    color: black;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
}

#close-btn:hover {
    border-color: transparent;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.700);
}

.social-icons a {
    color: white;
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

a {
    color: white;
    text-decoration: none;
}

.text-muted {
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 990px) {
    #login {
        width: 90%;
        height: 70%;
    }
    #login-btn {
        background-color: black;
        color: white;
        padding: 0.75rem 2rem;
        border-radius:2vw;
        cursor: pointer;
        margin-bottom: 1rem;
        transition: all 0.2s ease;
    }
    
    #login-btn:hover {
        scale: 1.025;
    }
}