/* login modal */
#login {
    display: none;
    position: fixed;
    z-index: 10500;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5vh 2vh;
    min-width: 300px;
    max-width: 600px;
    width: 20vw;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#login header {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
}

#login input {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    border: 0.5px solid #333;
}

#login input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
    font-size: 16px;
    color: #af1515 !important;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form input.button {
    color: #fff;
    background: #333;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
}

.form input.button:hover {
    background: #333333e7;
}

.signup {
    font-size: 17px;
    text-align: center;
}

.signup label {
    color: #333;
    cursor: pointer;
}

.signup label:hover {
    text-decoration: underline;
}

.container {
    width: 100%;
    max-width: 400px;
    border-radius: 10rem;
}

p {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}


#submit {
    background-color: black;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 0.5vw;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
}

#submit:hover {
    scale: 1.025;
}

#close-btn {
    border-color: transparent;
    background-color: transparent;
    color: black;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
}

#close-btn:hover {
    border-color: transparent;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.700);
}

.text-muted {
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 990px) {
    #login {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1vh 2vh;
        height: 490px;
        min-width: 300px;
        max-width: 600px;
        width: 20vw;
        background-color: white;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    #login header {
        font-size: 2rem;
        font-weight: 700;
        text-align: center;
        margin-bottom: 0.5rem;
    }

    #submit {
        background-color: black;
        color: white;
        padding: 0.75rem 2rem;
        border-radius: 0.5vw;
        cursor: pointer;
        margin-bottom: 1rem;
        transition: all 0.2s ease;
    }

    #submit:hover {
        scale: 1.025;
    }
}