body,
html {
    background-image: url('../img/gtz-logo.png') !important;
    background-color: rgba(0, 0, 0, 0.700) !important;

}
header {
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1.5rem;
}

#signup {
    display: block;
    position: absolute;
    z-index: 500;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 5vh 2vh;
    height: 490px;
    min-width: 300px;
    max-width: 600px;
    width: 20vw;
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#signup input {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

#signup input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.signup {
    font-size: 17px;
    text-align: center;
}
.signup label {
    color: #af1515 !important; 
}
.container {
    width: 100%;
    max-width: 400px;
    border-radius: 10rem;
}

p {
    margin-bottom: 1.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: none;
}

#submit {
    background-color: black;
    color: white;
    padding: 0.75rem 2rem;
    border-radius: 0.5vw;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
}

#submit:hover {
    scale: 1.025;
}

#close-btn {
    border-color: transparent;
    background-color: transparent;
    color: black;
    cursor: pointer;
    margin-bottom: 1rem;
    transition: all 0.2s ease;
}

#close-btn:hover {
    border-color: transparent;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.700);
}

.text-muted {
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 990px) {
    #signup {
        display: block;
        position: fixed;
        z-index: 1000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 5vh 2vh;
        max-width: 70vw;
        width: 100%;
        background-color: white;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    #submit {
        background-color: black;
        color: white;
        padding: 0.75rem 2rem;
        border-radius: 0.5vw;
        cursor: pointer;
        margin-bottom: 1rem;
        transition: all 0.2s ease;
    }

    #submit:hover {
        scale: 1.025;
    }
}