#navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: smokewhite;
    font: 700 3vh 'Poppins', sans-serif;
}
#navbarTogglerDemo02 {
    margin-right: 2vh;
}
#gtz-logo {
    margin-left: 2vh;
    width: 10vh;
    height: auto;
}

@media screen and (max-width: 990px) {
    #navbar {
        padding-left: 1vh;
        font: 700 2.5vh 'Poppins', sans-serif;
    }
    
    .navbar-toggler {
        margin: 2vh 1vh 2vh 1vh;
    }
}